a{
    font-family:'Times New Roman';
    text-align: center;
    color: white;
    margin-top: 100px;
    font-style: italic;
    font-size: 30px;
    padding: 50px;
    align-items: center;
}
h4{
    font-family:'Times New Roman';
    text-align: center;
    color: white;
    margin-top: 100px;
    font-style: italic;
    font-size: 30px;
    padding: 50px;
    align-items: center;
}
p{
    font-family:'Times New Roman';
    text-align: center;
    color: white;
    margin-top: 100px;
    font-style: italic;
    font-size: 30px;
    padding: 50px;
    align-items: center;
}
#heading_div{
    padding: 500px;
}
nav{
    background-color: #BAB86C;
    padding: 50px;
}
h3{
    text-align: center;
}

.profile_div{
    text-align: center;
}
.nav_button{

    padding: 50px;
}
body{
    background-image: url("grass.jpg");
}